<div class="container">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-logo">
                                {% include 'footer-logo' %}
                            </div>
                            {% if section.settings.social_icons %}
                                <div class="footer-social">
                                    {% include 'social-media-links' %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="divider visible-xs"></div>
                        <div class="col-md-6">
                            {% if section.settings.newsletter %}
                                {% include 'newsletter-inline' %}
                            {% endif %}
                            {% if section.settings.show_instagram %}
                            <div class="hidden-md">{% include 'instagram-widget' limit:6 %}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="divider hidden-lg"></div>
                <div class="col-lg-6">
                    <div class="row">
                        {% if section.settings.support_time != blank or section.settings.support_time_title != blank %}
                            <div class="col-md-4">
                                <div class="footer-block collapsed-mobile">
                                    <div class="title">
                                        <h4>{{ section.settings.support_time_title }}</h4>
                                        <div class="toggle-arrow"></div>
                                    </div>
                                    <div class="collapsed-content">
                                        {{ section.settings.support_time }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                            <div class="col-md-4">
                                <div class="footer-block collapsed-mobile">
                                    {% if section.settings.navigation_2 != blank %}
                                        <div class="title">
                                            <h4>{{ linklists[section.settings.navigation_2].title }}</h4>
                                            <div class="toggle-arrow"></div>
                                        </div>
                                        <div class="collapsed-content">
                                            <ul>
                                                {% for link in linklists[section.settings.navigation_2].links %}
                                                    <li>
                                                        {{ link.title | append:label | link_to: link.url }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <p>Choose Navigation in Theme Settings / Footer / NAVIGATION 2</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-block collapsed-mobile">
                                    {% if section.settings.navigation_1 != blank %}
                                        <div class="title">
                                            <h4>{{ linklists[section.settings.navigation_1].title }}</h4>
                                            <div class="toggle-arrow"></div>
                                        </div>
                                        <div class="collapsed-content">
                                            <ul>
                                                {% for link in linklists[section.settings.navigation_1].links %}
                                                    <li>
                                                        {{ link.title | append:label | link_to: link.url }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <p>Choose Navigation in Theme Settings / Footer / NAVIGATION 1</p>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                    <div class="clearfix"></div>
                    {% if section.settings.show_methods_of_payment %}
                        {% include 'footer_payments' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container">
            <div class="footer-copyright">
                {{ section.settings.copyright }}
            </div>
        </div>
    </div>
</div>