<div class="payment-block">
    <h4 class="payment-title">{{ settings.methods_of_payment_title }}</h4>
    <ul class="payment-link list-inline">
     
       <li><img src={{ settings.paymenticons1 | img_url:'master' }}></li>
        <li><img src={{ settings.paymenticons2 | img_url:'master' }}></li>
        <li><img src={{ settings.paymenticons3 | img_url:'master' }}></li>
                <li>   {% if settings.paymenticons4 !=blank %}<img src={{ settings.paymenticons4 | img_url:'master' }}>{% endif %}</li>
      <li>   {% if settings.paymenticons5 !=blank %}<img src={{ settings.paymenticons5 | img_url:'master' }}>{% endif %}</li>
      
        <li>
          {% if settings.paymenticons6 !=blank %}<img src={{ settings.paymenticons6 | img_url:'master' }}>
            {% endif %}
        </li>
                <li>
                   {% if settings.paymenticons7 !=blank %}
                  <img src={{ settings.paymenticons7 | img_url:'master' }}> {% endif %}</li>
      <li>   {% if settings.paymenticons8 !=blank %}<img src={{ settings.paymenticons8| img_url:'master' }}> {% endif %}</li>
    </ul>
</div>