<div class="footer-block">
    <div class="row">
        <div class="col-xs-4">
            <a href="{{ settings.shop_info_caption_1_link }}" class="shop-feature-sm">
                <div class="shop-feature-icon"><i class="{{ settings.shop_info_caption_1_icon }}"></i></div>
                <div class="shop-feature-text">{{ settings.shop_info_caption_1_text }}</div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="{{ settings.shop_info_caption_3_link }}" class="shop-feature-sm">
                <div class="shop-feature-icon"><i class="{{ settings.shop_info_caption_3_icon }}"></i></div>
                <div class="shop-feature-text">{{ settings.shop_info_caption_3_text }}</div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="{{ settings.shop_info_caption_2_link }}" class="shop-feature-sm">
                <div class="shop-feature-icon"><i class="{{ settings.shop_info_caption_2_icon }}"></i></div>
                <div class="shop-feature-text">{{ settings.shop_info_caption_2_text }}</div>
            </a>
        </div>
    </div>
</div>