{%- assign logo = section.settings.logo -%}
{%- assign logo_sticky = section.settings.logo_sticky -%}
{%- assign logo_max_width = section.settings.logo_max_width -%}
{% include 'demo-header-logo-image' %}
<a href="{{ shop.url }}" title="{{ shop.name }}">
    {% if logo != blank %}
        {% capture image_size %}{{ logo_max_width }}x{% endcapture %}
        <img src="{{ logo | img_url: image_size }}" alt='{{ shop.name }}' srcset="{{ logo | img_url: image_size }} 1x, {{ logo | img_url: image_size, scale: 2 }} 2x"/>
    {% else %}
        <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}"/>
    {% endif %}
</a>