{%- for block in blocks -%}
  {% assign mega_menu_cards_trigger = block.settings.mega_menu_cards_trigger | handle | strip %}

  {%- if link.handle == mega_menu_cards_trigger and block.type == 'mega_menu_cards' -%}
    {%- liquid
      assign has_cards = false
      for i in (1..10)
        assign enable_card_setting = 'enable_card_' | append: i
        assign heading_setting = 'card_heading_' | append: i
        assign enable_image_setting = 'card_enable_image_' | append: i
        if block.settings[enable_card_setting]
          if block.settings[heading_setting] != blank or block.settings[enable_image_setting]
            assign has_cards = true
          endif
        endif
      endfor
    -%}

    {%- if has_cards -%}
      <div
        class="mega-menu-cards__wrapper"
        tabindex="-1"
        role="dialog"
      >
        <div
          class="mega-menu-cards__items"
          style="grid-template-columns: repeat({{ block.settings.desktop_cards_per_row }}, 1fr)"
        >
          {%- for i in (1..10) -%}
            {%- liquid
              assign is_visible_card = false
              assign enable_card_setting = 'enable_card_' | append: i
              assign heading_setting = 'card_heading_' | append: i
              assign link_setting = 'card_link_' | append: i
              assign enable_image_setting = 'card_enable_image_' | append: i
              assign image_setting = 'card_image_' | append: i
              if block.settings[enable_card_setting]
                if block.settings[heading_setting] != blank or block.settings[enable_image_setting]
                  assign is_visible_card = true
                endif
              endif
            -%}
            {%- if is_visible_card -%}
              <div class="mega-menu-cards__item">
                {%- if block.settings[link_setting] != blank -%}
                  <a
                    href="{{ block.settings[link_setting] }}"
                    {% if settings.links_blank and block.settings[link_setting].type == 'external_link' %}
                      target="_blank"
                    {% endif %}
                    {% if block.settings[heading_setting] != blank %}
                      aria-label="{{- block.settings[heading_setting] -}}"
                    {% endif %}
                    class="mega-menu-cards__link focus-inset"
                  ></a>
                {%- endif -%}

                {%- if block.settings[enable_image_setting] -%}
                  <div
                    class="mega-menu-cards__media mega-menu-cards__media--{{ block.settings.card_image_ratio }}"
                  >
                    {%- if block.settings[image_setting] != blank -%}
                      {% liquid
                        case block.settings.card_image_ratio
                          when 'landscape'
                            assign settings_aspect_ratio = 1.34
                          when 'portrait'
                            assign settings_aspect_ratio = 0.75
                          when 'square'
                            assign settings_aspect_ratio = 1
                        endcase

                        assign calc_ratio = 1
                        if block.settings[image_setting].aspect_ratio > settings_aspect_ratio
                          assign calc_ratio = block.settings[image_setting].aspect_ratio | divided_by: settings_aspect_ratio | round: 2
                        endif
                      %}
                      {%- capture sizes -%}
                        (min-width: 1920px) calc({{ calc_ratio }} * (1820px / {{ block.settings.desktop_cards_per_row }})), calc({{ calc_ratio }} * (100vw / {{ block.settings.desktop_cards_per_row }}))
                      {%- endcapture -%}
                      {{
                        block.settings[image_setting]
                        | image_url: width: block.settings[image_setting].width
                        | image_tag:
                          loading: 'lazy',
                          sizes: sizes,
                          widths: '200, 364, 546, 728, 1092, 1456, 1820, 2184, 2548, 2912'
                      }}
                    {%- else -%}
                      {% assign placeholder_number = forloop.index | modulo: 2 | plus: 1 %}
                      {{ 'lifestyle-' | append: placeholder_number | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </div>
                {%- endif -%}

                {%- if block.settings[heading_setting] != blank -%}
                  <h4 class="mega-menu-cards__title h4">
                    {{- block.settings[heading_setting] -}}
                  </h4>
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
