<details-disclosure class="header__shop focus-inset" {{ block.shopify_attributes }}>
  <details>
    <summary class="header__shop-button button button--{{ block.settings.button_style }}">
      {% render 'icon-menu' %}
      {%- if block.settings.shop_button_label != blank -%}
        <span>{{- block.settings.shop_button_label -}}</span>
      {%- endif -%}
    </summary>
    <div class="header__shop-modal color-background-2">
      <div class="header__shop-wrapper container">
        {%- if block.settings.shop_button_menu != blank -%}
          {% comment %} <ul
            class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce"
            role="list"
          >
            {%- for link in block.settings.shop_button_menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="header__menu-item list-menu__item link focus-inset"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                  aria-label="{{ link.title | escape }}"
                >
                  <span
                    {%- if link.active %}
                      class="header__active-menu-item"
                    {% endif %}
                    title="{{ link.title | escape }}"
                  >
                    {{ link.title | escape }}
                  </span>
                </a>
                {% if link.links != blank %}
                  <ul
                    class="list-menu--disclosure list-menu motion-reduce color-background-2"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          href="{{ childlink.url }}"
                          class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} header__menu-item--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          <span>
                            {{ childlink.title | escape }}
                          </span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %}
              </li>
            {%- endfor -%}
            {% if section.settings.small_menu != blank %}
              {%- for link in section.settings.small_menu.links limit: 3 -%}
                <li class="header__shop-small-menu-item">
                  {%- if link != blank -%}
                    <a href="{{ link.url }}" class="header__menu-item list-menu__item link focus-inset">
                      <span
                        {%- if link.active %}
                          class="header__active-menu-item"
                        {% endif %}
                      >
                        {{ link.title | escape }}
                      </span>
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            {% endif %}
          </ul> {% endcomment %}
          {% if block.settings.show_promo_1 or block.settings.show_promo_2 or block.settings.show_promo_3 or block.settings.show_promo_4 or block.settings.show_promo_5 %}
            <div class="mega-menu__items">
              {% if enable_custom_broker_layout %}
                {% render 'mega-menu-cards-custom', block: block %}
              {% else %}
                {% render 'mega-menu-cards', block: block %}
              {% endif %}
            </div>
          {% endif %}
        {%- endif -%}
      </div>
    </div>
  </details>
</details-disclosure>
