{% if section.settings.enable %}
{% case section.settings.per_row_desctop %}
  {% when '3' %}
    {%- assign image_size = '499x499' -%}
  {% when '4' %}
    {%- assign image_size = '364x364' -%}
  {% when '5' %}
    {%- assign image_size = '283x283' -%}
{% endcase %}
  {% if section.settings.limit != blank %}
  {%- assign product_limit = section.settings.limit -%}
  {% endif %}
  {%- assign collection = collections[section.settings.collection] -%}
  <div class="block  {{ section.settings.block_width }} {{ section.settings.outer_margin }} offset-side">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {% if section.settings.title != blank %}
            <div class="title">
              <h2 class="custom-color">{{ section.settings.title | escape }}</h2>
              {% if section.settings.show_view_all == "left" or section.settings.show_view_all == "right" %}
                <span class="show-more text-{{ section.settings.show_view_all }} hidden-xs"><a href="{{ collection.url }}" title="{{ collection.title }}">{{ 'general.theme.show_all' | t }} +</a></span>
              {% endif %}
              <div class="carousel-arrows"></div>
            </div>
          {% endif %}
          <div class="products-grid products-carousel data-to-show-{{ section.settings.per_row_desctop }} data-to-show-lg-{{ section.settings.per_row_desctop }} data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-{{ section.settings.per_row_mobile_port }}" data-slick='{"slidesToShow": {{ section.settings.per_row_desctop }}, "slidesToScroll":  1, "responsive": [{"breakpoint": 1201,"settings": {"slidesToShow": {{ section.settings.per_row_tablet_land }}}}, {"breakpoint": 993,"settings": {"slidesToShow": {{ section.settings.per_row_tablet_port }}}}, {"breakpoint": 769,"settings": {"slidesToShow": {{ section.settings.per_row_mobile_land }}}}, {"breakpoint": 481,"settings": {"slidesToShow": {{ section.settings.per_row_mobile_port }}}}] }'>
          {% for product in collection.products limit: product_limit %}
              {% include 'product-card', per_row: section.settings.per_row, grid_image_width: image_size %}
            {% else %}
              <p class="blockquote">
                To Init <b>Product's carousel</b>:<br />
                1.<b>Choose Collection</b><br />
                2.<b>Save</b>
              </p>
            {% endfor %}
          </div>
          {% if section.settings.show_view_all == "bottom" %}
            <div class="text-center"><a href="{{ collection.url }}" class="btn btn-alt btn-lg" title="{{ collection.title }}">{{ 'general.theme.show_all' | t }}</a></div>
          {% endif %}
        </div>
        <div class="col-md-3 m-t-sm">
          {% if section.settings.title_2 != blank %}
              <h2>{{ section.settings.title_2 | escape }}</h2>
          {% endif %}
          <!-- Testimonial Single Slider -->
          {% if collection != blank %}
          <div class="testimonials testimonials-style-5 testimonials-arrows js-testimonial-slider">
            {% for block in section.blocks %}
              <div class="testimonial">
                <div class="testimonial-inside">
                  <div class="testimonial-author">
                    <div class="testimonial-author-photo"><img src="{% if block.settings.image %}{{ block.settings.image | img_url:'150x150' }}{% endif %}{% if block.settings.image == blank %}{{ 'avatar.png'  | asset_url }}{% endif %}" alt="{{ block.settings.author }}"></div>
                    <div>
                      <div class="testimonial-author-name"><a >{{ block.settings.author }}</a></div>
                      <div class="testimonial-author-subname">{{ block.settings.prof }}</div>
                    </div>
                  </div>
                  <div class="testimonial-text">{{ block.settings.testimonial }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endif %}
          <!-- /Testimonial Single Slider -->
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Collection",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable Carousel",
        "default": true
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type":"select",
        "id":"block_width",
        "label":"Width",
        "options":[
          {"value":"boxed","label":"Boxed"},
          {"value":"fullwidth","label":"Fullwidth"},
          {"value":"global_width","label":"Use global site width"}
        ],
        "default":"global_width",
        "info":"click Save to see changes"
      },
      {
        "type": "select",
        "id": "outer_margin",
        "label": "Outer top margin",
        "options":[
            {"value":"offset-top-0","label":"None"},
            {"value":"offset-top-30","label":"30px"},
            {"value":"offset-top-40","label":"40px"},
            {"value":"offset-top-50","label":"50px"}
        ],
        "default": "offset-top-50"
      },
      {
        "type": "header",
        "content": "General"
      },
      {
        "type":"header",
        "content":"Carousel"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Deals of the day"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "id": "limit",
        "type": "text",
        "label": "Products limit",
        "info":"if no limit keep empty",
        "default":"6"
      },
      {
        "type": "select",
        "id": "show_view_all",
        "label": "Show 'Show all' button",
        "options":[
          {"value":"none","label":"None"},
          {"value":"bottom","label":"Under carousel"},
          {"value":"left","label":"Near carousel title"},
          {"value":"right","label":"Near arrows"}
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Products per row:"
      },
      {
        "type": "select",
        "id": "per_row_desctop",
        "label": "Desctop > 1201px",
        "default": "3",
        "options": [
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" }
        ]
      },
      {
        "type": "select",
        "id": "per_row_tablet_land",
        "label": "994 - 1201px (tablet landscape)",
        "default": "3",
        "options": [
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" }
        ]
      },
      {
        "type": "select",
        "id": "per_row_tablet_port",
        "label": "770 - 993px (tablet portrait)",
        "default": "3",
        "options": [
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" }
        ]
      },
      {
        "type": "select",
        "id": "per_row_mobile_land",
        "label": "482 - 769px (mobile landscape)",
        "default": "2",
        "options": [
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" }
        ]
      },
      {
        "type": "select",
        "id": "per_row_mobile_port",
        "label": "< 481 (mobile portrait)",
        "default": "1",
        "options": [
          { "value": "1", "label": "1" },
          { "value": "2", "label": "2" }
        ]
      },
      {
        "type":"header",
        "content":"Testimonials"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author pic",
            "info": "keep empty to use default avatar, recommended 100x100px"
          },
          {
            "type": "text",
            "id": "author",
            "label":"Author",
            "default":"John Doe"
          },
          {
            "type": "text",
            "id": "prof",
            "label":"Profession",
            "default":"designer"
          },
          {
            "type": "richtext",
            "id": "testimonial",
            "label":"Testimonial",
            "default":"<p>To take a trivial example, which of us ever undert laborious physical </p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "3/4 of row + Testimonials",
        "category": "Collection's Carousel",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}
