{% paginate collection.products by section.settings.products_per_page %}
{% assign products_per_row = section.settings.collections_products_per_row %}
{% assign products_per_row_mobile = section.settings.collections_per_row_mobile %}
{% assign grid_products_view = section.settings.collections_products_view %}
{% assign collection_left_sidebar = settings.collection_left_sidebar %}{% if collection_left_sidebar %}{% assign collection_left_sidebar = 1 %}{% endif %}
{% if collection.description contains 'products-per-row-2' %}{% assign products_per_row = '2' %}{% endif %}
{% if collection.description contains 'products-per-row-3' %}{% assign products_per_row = '3' %}{% endif %}
{% if collection.description contains 'products-per-row-4' %}{% assign products_per_row = '4' %}{% endif %}
{% if collection.description contains 'products-per-row-5' %}{% assign products_per_row = '5' %}{% endif %}
<!-- Center column -->
<div class="aside">
    {% if section.settings.collections_title %}
        <!-- Page Title -->
        <h1 class="text-center">{{ collection.title }}</h1>
        <!-- /Page Title -->
    {% endif %}
    {% if collection.description != blank %}
        {% if  collection.description contains '|[config]|'%}
            {% assign desc = collection.description | split:'|[config]|' %}
            {% if desc.size > 1 %}<div class="description">{{ desc | last }}</div> {% endif %}
        {% else %}
            <div>{{ collection.description }}</div><br />
        {% endif %}
    {% endif %}
    <div class="product-listing">
        {% if collection.products.size > 0 %}
            {% if settings.collection_sort_enable %}
                {% include 'collection-toolbar' %}
            {% endif %}
            <div class="product-items products-{{ settings.collection_listing_style }} collection-handle-{{ collection.handle }} data-to-show-{{ products_per_row }}  data-to-show-lg-{{ products_per_row }} data-to-show-md-3 data-to-show-sm-{{ products_per_row_mobile }} data-to-show-xs-{{ products_per_row_mobile }}">
                {% for product in collection.products %}
                    {% include 'product-card' image_size:'large' %}
                {% endfor %}
            </div>

            <div class="text-center offset-top-70 d-flex flex-center">
                <div class="show_more_wrapper">
                    {% unless paginate.pages == paginate.current_page  %}
                    {% assign show = section.settings.products_per_page | plus:0 %}
                    {% assign page = paginate.current_page | plus:0 %}
                    {% assign show_text = show %}
                    {% assign pages_times_show = paginate.current_page | times:show %}
                    {% assign left = collection.products_count | minus:pages_times_show %}
                    {% if show >= left %}{% assign show_text = left %}{% assign remove_show_more = 1 %}{% endif %}
                    {% assign t_item =  'general.theme.item' | t %}
                    {% assign t_items = 'general.theme.items_c' | t %}
                    <a href="{{ paginate.next.url }}" class="btn show_more">{{ 'general.theme.show_more' | t }} +{{ show_text }} {{ paginate.items | pluralize: t_item, t_items }}<div class="bg-striped"></div></a>
                    {% endunless %}
                </div>
                {% if paginate.pages > 1 %}
                    <div class="items-total"> {% include 'pagination-custom' %}</div>
                {% endif %}
            </div>
        {% else %}
            <div class="listing-info">{{ 'general.theme.no_products' | t }}</div>
            <div class="listing-info-icon"><i class="icon-box"></i></div>
        {% endif %}
    </div>
</div>
<!-- /Center column -->
{% endpaginate %}
{% schema %}
{
    "name": "Products content",
    "settings": [
{
"type": "paragraph",
"content": "[Documentation](http://big-skins.com/banita/shopify/manuals/#Collection)"
},
{
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "collections_products_per_row",
            "label": "Products per row in desctop",
            "options": [
                { "value": "2", "label": "2" },
                { "value": "3", "label": "3" },
                { "value": "4", "label": "4" }
            ],
            "default": "3"
        },
        {
            "type": "select",
            "id": "collections_per_row_mobile",
            "label": "Products per row in mobile",
            "options": [
                { "value": "1", "label": "1" },
                { "value": "2", "label": "2" }
            ],
            "default": "1"
        },
        {
        "type": "select",
        "id": "products_per_page",
        "label": "Default Count of products per page",
        "options": [
        { "value": "12", "label": "12" },
        { "value": "18", "label": "18" },
        { "value": "36", "label": "36" },
        { "value": "50", "label": "All" }
        ],
        "default": "12"
        },
        {
            "type": "checkbox",
            "id": "collections_title",
            "label": "Show heading",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "collections_description",
            "label": "Enable collection description",
            "default": true
        }
    ]
}
{% endschema %}