
<style>
  
    .btn-velvey-home{
        float: none !important;
    background: #eea822;
    display: block;
    max-width: 230px;
    margin: 0 auto;
    color: #fff !important;
    padding: 15px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 18px;
    text-decoration:none !important;
  }
  .banner-relative{
  
  position:relative;
  }
  
  .banner-overlay-text{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    position: absolute;
  }
  
  
  
  .bs-content{
    display: table;
    padding: 0.25em 0.4em;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 47);
    animation-delay: 1000ms;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: .55em;
    line-height: 1em;

  }
  .bs-content span{
  color: #e4aa44
  }
  .left-banner {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
}
  
    .right-banner {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}
  
  .bs-vert{
    font-size:100px;
  }
  
  .bs-vert{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
  
  
 
  .banner-overlay-text .container {
      padding: 15px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
        padding-bottom: 40px;
  }
    @media (min-width: 1500px){
.banner-overlay-text .container {
    padding-left: 0!important;
    padding-right: 0!important;
}
  }
     @media (min-width: 1280px){
     .banner-overlay-text .container {
    width: 1250px;
}
}
 @media screen and (max-width: 1199px){
.bs-vert {
    font-size: 80px;
}
 }
  
  @media screen and (max-width: 991px){
.bs-vert {
    font-size: 60px;
}
  }
  
  
  @media (max-width: 1499px) and (min-width: 992px){
.banner-overlay-text .container {
    max-width: 1250px!important;
    padding-left: 55px!important;
    padding-right: 55px!important;
  
}
  }
  
  
  
  @media screen and (max-width: 767px){
.bs-vert {
    font-size: 50px;
}
  }
  
  @media screen and (max-width: 768px) {

    
      .banner-overlay-text .container {
            padding-bottom: 20px;
      }
    
    
}
  
  @media screen and (max-width: 490px){
.bs-vert {
    font-size: 40px;
}
  }
</style>

<div class="banner-bg banner-relative">
    <img src="{{ section.settings.baner_image | img_url: 'master' }}" />
           <div class="banner-overlay-text">
      
              <div class="container right-banner">
              
 
                                    <div class="bs-vert">
                                                <div class="bs-content">{{ section.settings.bannername }}</div>
                                        
                    </div>
          
                
                
                
                    </div>  
                               </div>
</div>
<div class="bg-story">
    <div class="container">
        <div class="story-content">
          
          <div class="row"><div class="col-md-12">
          <div class="item-icon">
 
                        <div class="">
                          
            <a href="https://www.youtube.com/watch?v=0IcaXPmwY7s" class="video-link btn-velvey-home"><img style="display:inline-block;margin-right:10px;" width="60" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-youtube.png?v=1628851418"> {{ section.settings.pupup_heading }}Gift Cards</a>              
                          
                          

          
          
              
            </div>
              </div>
          
          
            <h3 class="text-center h-big">{{ section.settings.bannerbelow_heading_text1 }} </h3>
            <div class=" item-banner">
 
                        <div class="">

                             <p>{{ section.settings.bannerbelow_heading_text2 }}  </p>

           <p>{{ section.settings.bannerbelow_heading_text3 }}</p>
                          <br>    
                      
                        
              
           
            <div class="images_thress">
              <div class="image_1">
                <img src="{{ section.settings.image1 | img_url:'master' }}">
              </div>
              <span class="plus_sign">+</span>
                 <div class="image_2">
                <img src="{{ section.settings.image2 | img_url:'master' }}">
              </div>
                   <span class="equal_sign">=</span>
                 <div class="image_3">
                <img src="{{ section.settings.image3 | img_url:'master' }}">
              </div>
            </div>
                             </div>

              
            </div>
          
  <img  class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/Down_Arrow_2x_bbe35bd1-eb98-4e3c-bd67-3c3ee68def4c.png?v=1710235858">
      
         <div class=" item-banner">

              <div class=" text-center">
       <span class="step-heading">{{ section.settings.text_lastsection4 }} </span>
     
                <a href="/collections/everyday-picks" class="btn-velvey"><img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/icon_vel.png?v=1628848389" /> Start Shopping</a>
        
      </div>
      
    </div>        
          


    </div></div>
    </div>
</div>

</div>

<style>
  .step-heading{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 500;
    display: block;
    margin-bottom: 50px;
  }
  .item-icon{
  padding: 40px 0;
  }
  .btn-velvey{
    background: #eea822;
    display: block;
    max-width: 265px;
    margin: 0 auto;
    color: #fff !important;
    padding: 13px 0;
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    border-radius: 18px;
}
  .s-big{
    font-size:16px;
   font-weight:500;
        line-height: 1;
  }
  .d-big{
  font-size:30px;
  color:#eea822 !important;
   font-weight:bold;
        line-height: 1;
  }
  

  .img-responsive{
  margin:0 auto;
  
  }

  .item-banner{
        margin-bottom: 30px;
  }
  .nopadding{
  padding:0 !important;
  }
  .h-big{
    margin-bottom: 30px;
  font-size: 35px;
    font-weight:500;
  color:#E4AA43;
    line-height:1;
  } 
  .banner-bg img{
  display:block;
    margin:0 auto;
    max-width:100%;
  }
  
  .bg-story{
  background: url(https://cdn.shopify.com/s/files/1/0447/4047/7095/files/GOLD_GRADIENT.jpg?v=1598557572);
    background-repeat: no-repeat;
        background-size: contain;
  }
  
  .story-content{
  display: block;
    max-width:750px;
    margin: 50px auto;
  }
  
  @media screen and (max-width: 768px) {
      .step-heading{
    font-size: 21px;
  }
        .col-md-8,.col-md-4,.col-md-12{
    padding: 0 30px!important;
    }
  .story-content{
  display: block;
    width: 100%;
    margin: 20px auto;
  }
}
</style>
{% schema %}
{
  "name": "Gift Card Section",
"settings": [
      {
        "type":"image_picker",
        "id":"baner_image",
        "label":"Add image Banner"
      },
      {
        "type":"html",
        "id":"bannername",
        "label":"Enter Heading Of Banner"
      }
  ,
      {
        "type":"text",
        "id":"pupup_heading",
        "label":"Enter Heading Of Banner bellow popup"
      }
  ,
      {
        "type":"text",
        "id":"bannerbelow_heading_text1",
        "label":"Enter Heading Of Banner bellow Heading text1"
      }
  ,
      {
        "type":"text",
        "id":"bannerbelow_heading_text2",
        "label":"Enter Heading Of Banner bellow Heading Text2"
      }
  ,
      {
        "type":"text",
        "id":"bannerbelow_heading_text3",
        "label":"Enter Heading Of Banner bellow Heading Text3"
      },
      {
        "type":"image_picker",
        "id":"image1",
        "label":"Add the image 1 of Gift"
      },
  {
        "type":"image_picker",
        "id":"image2",
        "label":"Add the image 2 of Gift"
      },
  {
        "type":"image_picker",
        "id":"image3",
        "label":"Add the image 3 of Gift"
      }
  ,
      {
        "type":"text",
        "id":"text_lastsection4",
        "label":"Enter text4 bellow gift images"
      }
    ],
  "presets":[
    {
      "name":"Gift Card Section"
    }
  ]
}
{% endschema %}