{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- if settings.cart_type == "drawer" -%}
	{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
	{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}
{{ 'country-flag.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card-horizontal.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card-small.css' | asset_url | stylesheet_tag }}
{{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}
{{ 'mega-menu-custom.css' | asset_url | stylesheet_tag }}

<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

<style>
	@media screen and (min-width: 1100px) {
		:root{
			--header-height: auto;
			--header-height-top: auto;
		}
	}

	header-drawer {
		justify-self: start;
		margin-left: -0.4rem;
		margin-right: 1.2rem;
	}

	@media screen and (min-width: 1100px) {
		header-drawer {
			display: none;
		}
	}

	.menu-drawer-container {
		display: flex;
	}

	.list-menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.list-menu--inline {
		display: inline-flex;
		flex-wrap: wrap;
	}

	summary.list-menu__item {
		padding-right: 2.7rem;
	}

	.list-menu__item {
		display: flex;
		align-items: center;
	}

	.list-menu__item--link {
		text-decoration: none;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	@media screen and (min-width: 750px) {
		.list-menu__item--link {
			padding-bottom: 1rem;
			padding-top: 1rem;
		}
	}

	{% if section.settings.sticky_header_type == "always" %}
		.shopify-section-header {
			position: sticky;
			top: 0;
			background: rgb(var(--color-background));
		}
	{% endif %}
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
	<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.sticky_header_type != 'none' -%}
	<sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}" class="header-wrapper {% if section.settings.color_scheme == 'background-3' %}header--margin-bottom{% endif %}">
{%- else -%}
	<div class="header-wrapper {% if section.settings.color_scheme == 'background-3' %}header--margin-bottom{% endif %}">
{%- endif -%}
	<header class="header header--{{- section.settings.header_type }} {% if section.settings.menu != blank %}header--has-menu{% endif %}">
		{% if section.settings.header_type == 'top-menu' %}
			{% render 'header-top-menu' %}
		{% elsif section.settings.header_type == 'bottom-menu' %}
			{% render 'header-bottom-menu' %}
		{% elsif section.settings.header_type == 'without-menu' %}
			{% render 'header-without-menu' %}
		{% elsif section.settings.header_type == 'broker-custom' %}
			{% render 'header-broker-custom' %}
		{% endif %}
	</header>
{%- if section.settings.sticky_header_type != 'none' -%}</sticky-header>{%- else -%}</div>{%- endif -%}

{% javascript %}
	class StickyHeader extends HTMLElement {
		constructor() {
			super();
		}

		connectedCallback() {
			this.header = document.querySelector('.shopify-section-header');
			this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always';
			this.headerBounds = {};
			this.currentScrollTop = 0;
			this.preventReveal = false;
			this.predictiveSearch = this.querySelector('predictive-search');

			this.onScrollHandler = this.onScroll.bind(this);
			this.hideHeaderOnScrollUp = () => this.preventReveal = true;

			this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
			window.addEventListener('scroll', this.onScrollHandler, false);

			this.createObserver();

			if (this.headerIsAlwaysSticky) this.reveal;
		}

		disconnectedCallback() {
			this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
			window.removeEventListener('scroll', this.onScrollHandler);
		}

		createObserver() {
			let observer = new IntersectionObserver((entries, observer) => {
			this.headerBounds = entries[0].intersectionRect;
				observer.disconnect();
			});

			if (this.header) {
				observer.observe(this.header);
			}
		}

		onScroll() {
			const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

			if (this.headerIsAlwaysSticky && scrollTop > this.header.offsetHeight + 1) {
				this.header.classList.add('shopify-section-header-sticky','shopify-section-header-always-sticky');
			};

			if (this.headerIsAlwaysSticky && scrollTop < this.header.offsetHeight) {
				this.header.classList.remove('shopify-section-header-sticky');
			};

			if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
				if (this.predictiveSearch && this.predictiveSearch.onFocusOut) {
					this.predictiveSearch.onFocusOut();
					this.predictiveSearch.onBlur();
				}
				if (this.preventHide) return;
				requestAnimationFrame(this.hide.bind(this));
			} else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
				if (!this.preventReveal) {
					requestAnimationFrame(this.reveal.bind(this));
				} else {
					window.clearTimeout(this.isScrolling);

					this.isScrolling = setTimeout(() => {
					this.preventReveal = false;
				}, 66);

				requestAnimationFrame(this.hide.bind(this));
				}
			} else if (scrollTop <= this.headerBounds.top) {
				requestAnimationFrame(this.reset.bind(this));
			}

			this.currentScrollTop = scrollTop;
		}

		hide() {
			if (this.headerIsAlwaysSticky) return;
			this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
			this.closeMenuDisclosure();
		}

		reveal() {
			if (this.headerIsAlwaysSticky) return;
			this.header.classList.add('shopify-section-header-sticky', 'animate');
			this.header.classList.remove('shopify-section-header-hidden');
		}

		reset() {
			if (this.headerIsAlwaysSticky) return;
			this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
		}

		closeMenuDisclosure() {
			this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
			if (this.disclosures) {
				this.disclosures.forEach(disclosure => disclosure.close());
			}
		}
	}

	customElements.define('sticky-header', StickyHeader);

{% endjavascript %}

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": {{ shop.name | json }},
		{% if section.settings.logo %}
			"logo": {{ section.settings.logo | image_url: section.settings.logo.width | prepend: "https:" | json }},
		{% endif %}
		"sameAs": [
			{{ settings.social_twitter_link | json }},
			{{ settings.social_facebook_link | json }},
			{{ settings.social_pinterest_link | json }},
			{{ settings.social_instagram_link | json }},
			{{ settings.social_tumblr_link | json }},
			{{ settings.social_snapchat_link | json }},
			{{ settings.social_youtube_link | json }},
			{{ settings.social_vimeo_link | json }},
			{{ settings.social_linkedin_link | json }}
		],
		"url": {{ shop.url | append: page.url | json }}
	}

</script>

{%- if request.page_type == 'index' -%}
	{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": {{ shop.name | json }},
			"potentialAction": {
				"@type": "SearchAction",
				"target": {{ potential_action_target | json }},
				"query-input": "required name=search_term_string"
			},
			"url": {{ shop.url | append: page.url | json }}
		}
	</script>
{%- endif -%}

{% schema %}
{
	"name": "t:sections.header.name",
	"max_blocks": 7,
	"class": "shopify-section-header",
	"settings": [
		{
			"type": "checkbox",
			"id": "enable_custom_broker_layout",
			"default": true,
			"label": "Enable Custom Broker Layout",
			"info": "Enable this to show the custom broker layout in the dropdown for transactions."
		},
		{
			"type": "select",
			"id": "header_type",
			"options": [
				{
					"value": "top-menu",
					"label": "t:sections.header.settings.header_type.options__1.label"
				},
				{
					"value": "bottom-menu",
					"label": "t:sections.header.settings.header_type.options__2.label"
				},
				{
					"value": "without-menu",
					"label": "t:sections.header.settings.header_type.options__3.label"
				},
				{
					"value": "broker-custom",
					"label": "Custom Layout for Broker Site"
				}
			],
			"default": "bottom-menu",
			"label": "t:sections.header.settings.header_type.label"
		},
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "background-1",
					"label": "t:sections.all.color_scheme.options__1.label"
				},
				{
					"value": "background-2",
					"label": "t:sections.all.color_scheme.options__2.label"
				},
				{
					"value": "background-3",
					"label": "t:sections.all.color_scheme.options__3.label"
				}
			],
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "t:sections.header.settings.logo.label"
		},
		{
			"type": "image_picker",
			"id": "logo_2",
			"label": "t:sections.header.settings.logo_2.label",
			"info": "t:sections.header.settings.logo_2.info"
		},
		{
			"type": "range",
			"id": "logo_width",
			"min": 50,
			"max": 350,
			"step": 5,
			"default": 90,
			"unit": "t:sections.header.settings.logo_width.unit",
			"label": "t:sections.header.settings.logo_width.label"
		},
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "t:sections.header.settings.menu.label",
			"info": "t:sections.header.settings.menu.info"
		},
		{
			"type": "checkbox",
			"id": "clickable_menu_items_with_submenu",
			"default": false,
			"label": "t:sections.header.settings.clickable_menu_items_with_submenu.label",
			"info": "t:sections.header.settings.clickable_menu_items_with_submenu.info"
		},
		{
			"type": "link_list",
			"id": "small_menu",
			"default": "main-menu",
			"label": "t:sections.header.settings.small_menu.label",
			"info": "t:sections.header.settings.small_menu.info"
		},
		{
			"type": "checkbox",
			"id": "enable_country_selector",
			"default": true,
			"label": "t:sections.header.settings.enable_country_selector.label"
		},
		{
			"type": "checkbox",
			"id": "enable_language_selector",
			"default": true,
			"label": "t:sections.header.settings.enable_language_selector.label"
		},
		{
			"type": "select",
			"id": "sticky_header_type",
			"options": [
				{
					"value": "none",
					"label": "t:sections.header.settings.sticky_header_type.options__1.label"
				},
				{
					"value": "on-scroll-up",
					"label": "t:sections.header.settings.sticky_header_type.options__2.label"
				},
				{
					"value": "always",
					"label": "t:sections.header.settings.sticky_header_type.options__3.label"
				}
			],
			"default": "on-scroll-up",
			"label": "t:sections.header.settings.sticky_header_type.label"
		},
		{
			"type": "header",
			"content": "t:sections.header.settings.header_contact.content"
		},
		{
			"type": "checkbox",
			"id": "enable_contact_block",
			"default": true,
			"label": "t:sections.header.settings.enable_contact.label"
		},
		{
			"type": "text",
			"id": "contact_text",
			"default": "Get in Touch",
			"label": "t:sections.header.settings.contact_text.label"
		},
		{
			"type": "richtext",
			"id": "contact_text_accent",
			"default": "t:sections.header.settings.contact_text_accent.default",
			"label": "t:sections.header.settings.contact_text_accent.label"
		},
		{
			"type": "header",
			"content": "t:sections.header.settings.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_search",
			"default": true,
			"label": "t:sections.header.settings.enable_search.label",
			"info": "t:sections.header.settings.enable_search.info"
		},
		{
			"type": "checkbox",
			"id": "enable_search_modal",
			"default": false,
			"label": "t:sections.header.settings.enable_search_modal.label"
		},
		{
			"type": "checkbox",
			"id": "show_collection_card",
			"default": false,
			"label": "t:sections.header.settings.show_collection_card.label"
		},
		{
			"type": "collection_list",
			"id": "collection_list",
			"label": "t:sections.header.settings.collection_list.label"
		},
		{
			"type": "checkbox",
			"id": "show_items",
			"default": false,
			"label": "t:sections.header.settings.show_items.label",
			"info": "t:sections.header.settings.show_items.info"
		},
		{
			"type": "product_list",
			"id": "product_list",
			"limit": 10,
			"label": "t:sections.header.settings.product_list.label"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.header.settings.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_price",
			"default": false,
			"label": "t:sections.header.settings.show_price.label"
		},
		{
			"type": "url",
			"id": "items_link",
			"label": "t:sections.header.settings.items_link.label"
		},
		{
			"type": "checkbox",
			"id": "show_articles",
			"default": false,
			"label": "t:sections.header.settings.show_articles.label"
		},
		{
			"type": "blog",
			"id": "blog",
			"label": "t:sections.header.settings.blog.label"
		},
		{
			"type": "checkbox",
			"id": "show_image",
			"default": false,
			"label": "t:sections.header.settings.show_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_date",
			"default": false,
			"label": "t:sections.header.settings.show_date.label"
		},
		{
			"type": "url",
			"id": "blog_link",
			"label": "t:sections.header.settings.blog_link.label"
		},
		{
			"type": "header",
			"content": "t:sections.header.settings.search_block_header.content"
		},
		{
			"type": "checkbox",
			"id": "show_search_block",
			"default": false,
			"label": "t:sections.header.settings.show_search_block.label"
		},
		{
			"type": "image_picker",
			"id": "search_image",
			"label": "t:sections.header.settings.search_image.label"
		},
		{
			"type": "select",
			"id": "search_color_scheme",
			"options": [
				{
					"value": "light",
					"label": "t:sections.all.text_color_scheme.options__1.label"
				},
				{
					"value": "dark",
					"label": "t:sections.all.text_color_scheme.options__2.label"
				}
			],
			"default": "dark",
			"label": "t:sections.all.text_color_scheme.label"
		},
		{
			"type": "text",
			"id": "search_heading",
			"default": "t:sections.header.settings.search_heading.default",
			"label": "t:sections.header.settings.search_heading.label"
		},
		{
			"type": "text",
			"id": "search_text",
			"default": "t:sections.header.settings.search_text.default",
			"label": "t:sections.header.settings.search_text.label"
		},
		{
			"type": "text",
			"id": "search_text_accent",
			"default": "t:sections.header.settings.search_text_accent.default",
			"label": "t:sections.header.settings.search_text_accent.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.all.button.button_link.label"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "t:sections.header.settings.button_label.default",
			"label": "t:sections.all.button.button_label.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.button_style.options__2.label"
				},
				{
					"value": "tertiary",
					"label": "t:sections.all.button.button_style.options__3.label"
				}
			],
			"default": "primary",
			"label": "t:sections.all.button.button_style.label"
		}
	],
	"blocks": [
		{
			"type": "dropdown",
			"limit": 1,
			"name": "t:sections.header.blocks.dropdown.name",
			"settings": [
				{
					"type": "text",
					"id": "shop_button_label",
					"default": "Submit A Transaction",
					"label": "t:sections.header.settings.shop_button_label.label"
				},
				{
					"type": "link_list",
					"id": "shop_button_menu",
					"default": "main-menu",
					"label": "t:sections.header.settings.shop_button_menu.label"
				},
				{
					"type": "select",
					"id": "button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "tertiary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_1.content"
				},
				{
					"type": "checkbox",
					"id": "show_promo_1",
					"default": false,
					"label": "t:sections.header.blocks.dropdown.settings.show_promo_1.label"
				},
				{
					"type": "select",
					"id": "color_scheme_1",
					"options": [
						{
							"value": "light",
							"label": "t:sections.all.text_color_scheme.options__1.label"
						},
						{
							"value": "dark",
							"label": "t:sections.all.text_color_scheme.options__2.label"
						}
					],
					"default": "dark",
					"label": "t:sections.all.text_color_scheme.label"
				},
				{
					"type": "text",
					"id": "heading_1",
					"label": "t:sections.header.blocks.mega_menu.settings.heading.label",
					"info": "t:sections.header.blocks.mega_menu.settings.heading.info"
				},
				{
					"type": "text",
					"id": "description_1",
					"label": "t:sections.header.blocks.mega_menu.settings.description.label"
				},
				{
					"type": "image_picker",
					"id": "image_1",
					"label": "t:sections.header.blocks.mega_menu.settings.image.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity_1",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "t:sections.all.overlay_opacity.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.button.header_button.content"
				},
				{
					"type": "checkbox",
					"id": "show_button_1",
					"label": "t:sections.all.button.button_show.label"
				},
				{
					"type": "url",
					"id": "button_link_1",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "text",
					"id": "button_label_1",
					"default": "t:sections.header.blocks.dropdown.settings.button_label_1.default",
					"label": "t:sections.all.button.button_label.label"
				},
				{
					"type": "select",
					"id": "button_style_1",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "text",
					"id": "text_1",
					"label": "t:sections.header.blocks.mega_menu.settings.text.label"
				},
				{
					"type": "text",
					"id": "text_accent_1",
					"label": "t:sections.header.blocks.mega_menu.settings.text_accent.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_2.content"
				},
				{
					"type": "checkbox",
					"id": "show_promo_2",
					"default": false,
					"label": "t:sections.header.blocks.dropdown.settings.show_promo_2.label"
				},
				{
					"type": "select",
					"id": "color_scheme_2",
					"options": [
						{
							"value": "light",
							"label": "t:sections.all.text_color_scheme.options__1.label"
						},
						{
							"value": "dark",
							"label": "t:sections.all.text_color_scheme.options__2.label"
						}
					],
					"default": "dark",
					"label": "t:sections.all.text_color_scheme.label"
				},
				{
					"type": "text",
					"id": "heading_2",
					"label": "t:sections.header.blocks.mega_menu.settings.heading.label",
					"info": "t:sections.header.blocks.mega_menu.settings.heading.info"
				},
				{
					"type": "text",
					"id": "description_2",
					"label": "t:sections.header.blocks.mega_menu.settings.description.label"
				},
				{
					"type": "image_picker",
					"id": "image_2",
					"label": "t:sections.header.blocks.mega_menu.settings.image.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity_2",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "t:sections.all.overlay_opacity.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.button.header_button.content"
				},
				{
					"type": "checkbox",
					"id": "show_button_2",
					"label": "t:sections.all.button.button_show.label"
				},
				{
					"type": "url",
					"id": "button_link_2",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "text",
					"id": "button_label_2",
					"default": "t:sections.header.blocks.dropdown.settings.button_label_2.default",
					"label": "t:sections.all.button.button_label.label"
				},
				{
					"type": "select",
					"id": "button_style_2",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "text",
					"id": "text_2",
					"label": "t:sections.header.blocks.mega_menu.settings.text.label"
				},
				{
					"type": "text",
					"id": "text_accent_2",
					"label": "t:sections.header.blocks.mega_menu.settings.text_accent.label"
				},
				{
					"type": "header",
					"content": "Promo Block 3"
				},
				{
					"type": "checkbox",
					"id": "show_promo_3",
					"default": false,
					"label": "Show promo block 3"
				},
				{
					"type": "select",
					"id": "color_scheme_3",
					"options": [
						{
							"value": "light",
							"label": "Light"
						},
						{
							"value": "dark",
							"label": "Dark"
						}
					],
					"default": "dark",
					"label": "Color scheme"
				},
				{
					"type": "text",
					"id": "heading_3",
					"label": "Heading",
					"info": "The main heading displayed on the promo block"
				},
				{
					"type": "text",
					"id": "description_3",
					"label": "Description"
				},
				{
					"type": "image_picker",
					"id": "image_3",
					"label": "Promo image"
				},
				{
					"type": "range",
					"id": "overlay_opacity_3",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "Overlay opacity"
				},
				{
					"type": "checkbox",
					"id": "show_button_3",
					"label": "Show button"
				},
				{
					"type": "url",
					"id": "button_link_3",
					"label": "Button link"
				},
				{
					"type": "text",
					"id": "button_label_3",
					"default": "Learn More",
					"label": "Button label"
				},
				{
					"type": "select",
					"id": "button_style_3",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						},
						{
							"value": "tertiary",
							"label": "Tertiary"
						}
					],
					"default": "primary",
					"label": "Button style"
				},
				{
					"type": "text",
					"id": "text_3",
					"label": "Text"
				},
				{
					"type": "text",
					"id": "text_accent_3",
					"label": "Accent text"
				},
				{
					"type": "header",
					"content": "Promo Block 4"
				},
				{
					"type": "checkbox",
					"id": "show_promo_4",
					"default": false,
					"label": "Show promo block 4"
				},
				{
					"type": "select",
					"id": "color_scheme_4",
					"options": [
						{
							"value": "light",
							"label": "Light"
						},
						{
							"value": "dark",
							"label": "Dark"
						}
					],
					"default": "dark",
					"label": "Color scheme"
				},
				{
					"type": "text",
					"id": "heading_4",
					"label": "Heading",
					"info": "The main heading displayed on the promo block"
				},
				{
					"type": "text",
					"id": "description_4",
					"label": "Description"
				},
				{
					"type": "image_picker",
					"id": "image_4",
					"label": "Promo image"
				},
				{
					"type": "range",
					"id": "overlay_opacity_4",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "Overlay opacity"
				},
				{
					"type": "checkbox",
					"id": "show_button_4",
					"label": "Show button"
				},
				{
					"type": "url",
					"id": "button_link_4",
					"label": "Button link"
				},
				{
					"type": "text",
					"id": "button_label_4",
					"default": "Learn More",
					"label": "Button label"
				},
				{
					"type": "select",
					"id": "button_style_4",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						},
						{
							"value": "tertiary",
							"label": "Tertiary"
						}
					],
					"default": "primary",
					"label": "Button style"
				},
				{
					"type": "text",
					"id": "text_4",
					"label": "Text"
				},
				{
					"type": "text",
					"id": "text_accent_4",
					"label": "Accent text"
				},
				{
					"type": "header",
					"content": "Promo Block 5"
				},
				{
					"type": "checkbox",
					"id": "show_promo_5",
					"default": false,
					"label": "Show promo block 5"
				},
				{
					"type": "select",
					"id": "color_scheme_5",
					"options": [
						{
							"value": "light",
							"label": "Light"
						},
						{
							"value": "dark",
							"label": "Dark"
						}
					],
					"default": "dark",
					"label": "Color scheme"
				},
				{
					"type": "text",
					"id": "heading_5",
					"label": "Heading",
					"info": "The main heading displayed on the promo block"
				},
				{
					"type": "text",
					"id": "description_5",
					"label": "Description"
				},
				{
					"type": "image_picker",
					"id": "image_5",
					"label": "Promo image"
				},
				{
					"type": "range",
					"id": "overlay_opacity_5",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "Overlay opacity"
				},
				{
					"type": "checkbox",
					"id": "show_button_5",
					"label": "Show button"
				},
				{
					"type": "url",
					"id": "button_link_5",
					"label": "Button link"
				},
				{
					"type": "text",
					"id": "button_label_5",
					"default": "Learn More",
					"label": "Button label"
				},
				{
					"type": "select",
					"id": "button_style_5",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						},
						{
							"value": "tertiary",
							"label": "Tertiary"
						}
					],
					"default": "primary",
					"label": "Button style"
				},
				{
					"type": "text",
					"id": "text_5",
					"label": "Text"
				},
				{
					"type": "text",
					"id": "text_accent_5",
					"label": "Accent text"
				}
			]
		},
		{
			"type": "mega_menu",
			"name": "t:sections.header.blocks.mega_menu.name",
			"settings": [
				{
					"type": "text",
					"id": "mega_menu_trigger",
					"label": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.label",
					"info": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.info"
				},
				{
					"type": "text",
					"id": "heading",
					"default": "Heading for links",
					"label": "t:sections.header.blocks.mega_menu.settings.heading.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_1.content"
				},
				{
					"type": "checkbox",
					"id": "show_mega_menu_1",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu.settings.show_mega_menu_1.label"
				},
				{
					"type": "select",
					"id": "color_scheme_1",
					"options": [
						{
							"value": "light",
							"label": "t:sections.all.text_color_scheme.options__1.label"
						},
						{
							"value": "dark",
							"label": "t:sections.all.text_color_scheme.options__2.label"
						}
					],
					"default": "dark",
					"label": "t:sections.all.text_color_scheme.label"
				},
				{
					"type": "text",
					"id": "heading_1",
					"label": "t:sections.header.blocks.mega_menu.settings.heading.label",
					"info": "t:sections.header.blocks.mega_menu.settings.heading.info"
				},
				{
					"type": "text",
					"id": "description_1",
					"label": "t:sections.header.blocks.mega_menu.settings.description.label"
				},
				{
					"type": "image_picker",
					"id": "image_1",
					"label": "t:sections.header.blocks.mega_menu.settings.image.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity_1",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "t:sections.all.overlay_opacity.label"
				},
				{
					"type": "checkbox",
					"id": "enable_mobile_overlay_1",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu.settings.enable_mobile_overlay.label",
					"info": "t:sections.header.blocks.mega_menu.settings.enable_mobile_overlay.info"
				},
				{
					"type": "header",
					"content": "t:sections.all.button.header_button.content"
				},
				{
					"type": "checkbox",
					"id": "show_button_1",
					"label": "t:sections.all.button.button_show.label"
				},
				{
					"type": "url",
					"id": "button_link_1",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "text",
					"id": "button_label_1",
					"default": "t:sections.header.blocks.mega_menu.settings.button_label_1.default",
					"label": "t:sections.all.button.button_label.label"
				},
				{
					"type": "select",
					"id": "button_style_1",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "text",
					"id": "text_1",
					"label": "t:sections.header.blocks.mega_menu.settings.text.label"
				},
				{
					"type": "text",
					"id": "text_accent_1",
					"label": "t:sections.header.blocks.mega_menu.settings.text_accent.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_2.content"
				},
				{
					"type": "checkbox",
					"id": "show_mega_menu_2",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu.settings.show_mega_menu_2.label"
				},
				{
					"type": "select",
					"id": "color_scheme_2",
					"options": [
						{
							"value": "light",
							"label": "t:sections.all.text_color_scheme.options__1.label"
						},
						{
							"value": "dark",
							"label": "t:sections.all.text_color_scheme.options__2.label"
						}
					],
					"default": "dark",
					"label": "t:sections.all.text_color_scheme.label"
				},
				{
					"type": "text",
					"id": "heading_2",
					"label": "t:sections.header.blocks.mega_menu.settings.heading.label",
					"info": "t:sections.header.blocks.mega_menu.settings.heading.info"
				},
				{
					"type": "text",
					"id": "description_2",
					"label": "t:sections.header.blocks.mega_menu.settings.description.label"
				},
				{
					"type": "image_picker",
					"id": "image_2",
					"label": "t:sections.header.blocks.mega_menu.settings.image.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity_2",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "t:sections.all.overlay_opacity.label"
				},
				{
					"type": "checkbox",
					"id": "enable_mobile_overlay_2",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu.settings.enable_mobile_overlay.label",
					"info": "t:sections.header.blocks.mega_menu.settings.enable_mobile_overlay.info"
				},
				{
					"type": "header",
					"content": "t:sections.all.button.header_button.content"
				},
				{
					"type": "checkbox",
					"id": "show_button_2",
					"label": "t:sections.all.button.button_show.label"
				},
				{
					"type": "url",
					"id": "button_link_2",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "text",
					"id": "button_label_2",
					"default": "t:sections.header.blocks.mega_menu.settings.button_label_2.default",
					"label": "t:sections.all.button.button_label.label"
				},
				{
					"type": "select",
					"id": "button_style_2",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "text",
					"id": "text_2",
					"label": "t:sections.header.blocks.mega_menu.settings.text.label"
				},
				{
					"type": "text",
					"id": "text_accent_2",
					"label": "t:sections.header.blocks.mega_menu.settings.text_accent.label"
				},
				{
  "type": "header",
  "content": "Promo Block 3"
},
{
  "type": "checkbox",
  "id": "show_promo_3",
  "default": false,
  "label": "Show promo block 3"
},
{
  "type": "select",
  "id": "color_scheme_3",
  "options": [
    {
      "value": "light",
      "label": "Light"
    },
    {
      "value": "dark",
      "label": "Dark"
    }
  ],
  "default": "dark",
  "label": "Color scheme"
},
{
  "type": "text",
  "id": "heading_3",
  "label": "Heading",
  "info": "The main heading displayed on the promo block"
},
{
  "type": "text",
  "id": "description_3",
  "label": "Description"
},
{
  "type": "image_picker",
  "id": "image_3",
  "label": "Promo image"
},
{
  "type": "range",
  "id": "overlay_opacity_3",
  "min": 0,
  "max": 1,
  "step": 0.1,
  "default": 0,
  "label": "Overlay opacity"
},
{
  "type": "checkbox",
  "id": "show_button_3",
  "label": "Show button"
},
{
  "type": "url",
  "id": "button_link_3",
  "label": "Button link"
},
{
  "type": "text",
  "id": "button_label_3",
  "default": "Learn More",
  "label": "Button label"
},
{
  "type": "select",
  "id": "button_style_3",
  "options": [
    {
      "value": "primary",
      "label": "Primary"
    },
    {
      "value": "secondary",
      "label": "Secondary"
    },
    {
      "value": "tertiary",
      "label": "Tertiary"
    }
  ],
  "default": "primary",
  "label": "Button style"
},
{
  "type": "text",
  "id": "text_3",
  "label": "Text"
},
{
  "type": "text",
  "id": "text_accent_3",
  "label": "Accent text"
},

			]
		},
		{
			"type": "mega_submenu",
			"name": "t:sections.header.blocks.mega_submenu.name",
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.header.blocks.mega_submenu.settings.info.content"
				},
				{
					"type": "text",
					"id": "mega_submenu_trigger",
					"label": "t:sections.header.blocks.mega_submenu.settings.mega_menu_trigger.label",
					"info": "t:sections.header.blocks.mega_submenu.settings.mega_menu_trigger.info"
				}
			]
		},
		{
			"type": "mega_menu_cards",
			"name": "t:sections.header.blocks.mega_menu_cards.name",
			"settings": [
				{
					"type": "text",
					"id": "mega_menu_cards_trigger",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_trigger.label",
					"info": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_trigger.info"
				},
				{
					"type": "paragraph",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_info.content"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_1.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_1",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_1",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_1",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_1",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_1",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_2.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_2",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_2",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_2",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_2",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_2",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_3.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_3",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_3",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_3",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_3",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_3",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_4.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_4",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_4",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_4",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_4",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_4",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_5.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_5",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_5",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_5",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_5",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_5",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_6.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_6",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_6",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_6",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_6",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_6",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_7.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_7",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_7",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_7",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_7",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_7",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_8.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_8",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_8",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_8",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_8",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_8",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_9.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_9",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_9",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_9",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_9",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_9",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_10.content"
				},
				{
					"type": "checkbox",
					"id": "enable_card_10",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_enable_card.label"
				},
				{
					"type": "text",
					"id": "card_heading_10",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.label",
					"default": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_heading.default"
				},
				{
					"type": "url",
					"id": "card_link_10",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_link.label"
				},
				{
					"type": "checkbox",
					"id": "card_enable_image_10",
					"default": true,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_enable_image.label"
				},
				{
					"type": "image_picker",
					"id": "card_image_10",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_card_image.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_header_image.content"
				},
				{
					"type": "select",
					"id": "card_image_ratio",
					"options": [
						{
							"value": "landscape",
							"label": "t:sections.all.card.image_ratio.options__1.label"
						},
						{
							"value": "portrait",
							"label": "t:sections.all.card.image_ratio.options__2.label"
						},
						{
							"value": "square",
							"label": "t:sections.all.card.image_ratio.options__3.label"
						}
					],
					"default": "landscape",
					"label": "t:sections.all.card.image_ratio.label"
				},
				{
					"type": "range",
					"id": "desktop_cards_per_row",
					"min": 2,
					"max": 5,
					"step": 1,
					"default": 5,
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_desktop_cards_per_row.label",
					"info": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_desktop_cards_per_row.info"
				},
				{
					"type": "select",
					"id": "mobile_cards_per_row",
					"options": [
						{
							"value": "1",
							"label": "1"
						},
						{
							"value": "2",
							"label": "2"
						}
					],
					"default": "2",
					"label": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_mobile_cards_per_row.label",
					"info": "t:sections.header.blocks.mega_menu_cards.settings.mega_menu_mobile_cards_per_row.info"
				}
			]
		}
	],
	"default": {
		"blocks": [
			{
				"type": "dropdown"
			},
			{
				"type": "mega_menu"
			}
		]
	}
}
{% endschema %}
