<style>
  .banner-relative{
  
  position:relative;
  }
  
  .pt-0{
  padding-top:20px !important;
  }
  p {
    line-height: 1.5 !important;;
}
  
  .banner-overlay-text{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    position: absolute;
  }
  
  
  
  .bs-content{
    display: table;
    padding: 0.25em 0.4em;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 47);
    animation-delay: 1000ms;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: .55em;
    line-height: 1em;

  }
  .bs-content span{
  color: #e4aa44
  }
  .left-banner {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
}
  
    .right-banner {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}
  
  .bs-vert{
    font-size:100px;
  }
  
  .bs-vert{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
 
  .banner-overlay-text .container {
      padding: 15px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
        padding-bottom: 40px;
  }
  
  .img-responsive-ct{
    max-width: 185px;
    position: relative;
    top: -15px;
  }
  
    @media (min-width: 1500px){
.banner-overlay-text .container {
    padding-left: 0!important;
    padding-right: 0!important;
}
  }
   @media (min-width: 1280px){
     .banner-overlay-text .container {
    width: 1250px;
}
}
  
 @media screen and (max-width: 1199px){
.bs-vert {
    font-size: 80px;
}
 }
  
  @media screen and (max-width: 991px){
.bs-vert {
    font-size: 60px;
}
  }
  
  
  @media (max-width: 1499px) and (min-width: 992px){
.banner-overlay-text .container {
    max-width: 1250px!important;
    padding-left: 55px!important;
    padding-right: 55px!important;
  
}
  }
  
  
  
  @media screen and (max-width: 767px){
.bs-vert {
    font-size: 50px;
}
  }
  
  @media screen and (max-width: 768px) {

    
      .banner-overlay-text .container {
            padding-bottom: 20px;
      }
    
    
}
  
  @media screen and (max-width: 490px){
.bs-vert {
    font-size: 40px;
}
  }
</style>

<div class="banner-relative"><img class="bg-main-works " src="{{section.settings.imgbanner | img_url: 'master'}}">
   <div class="banner-overlay-text">
      <div class="container right-banner">
      <div class="bs-vert " data-aos-delay="10000000" >
      <div class="bs-content">{{ section.settings.bannername }}</div>
                    </div> </div>  </div></div>
<div class="bg-works">
  <div class="container">
    <div class="bg-works-contain bg-works-contain-ct">
      <p>{{ section.settings.bannerbelow_heading }}</p>
      <p class="normal-letter">{{ section.settings.bannerbelow_heading_text1 }} </p>
  </div>
</div>
    <div class="container">
<div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde pt-0"><span class="step-circle">1</span></span>
        <span class="step-heading">{{ section.settings.bannerbelow_heading_text2 }}</span>
        <p class="step-info">{{ section.settings.bannerbelow_heading_text3 }}</p>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6 col-md-6 nopadding">
                <img class="img-responsive img-sec2" src="{{ section.settings.image1_step1 |img_url: 'master'}}" />
            </div>
            <div class="col-xs-6 col-md-6 nopadding">
                <p>{{ section.settings.textimage1_step1 }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-6 nopadding">
                <img class="img-responsive img-responsive-ct img-sec2"  src="{{ section.settings.image2_step1 |img_url: 'master'}}" />
            </div>
            <div class="col-xs-6 nopadding">
                <p>{{ section.settings.textimage2_step1 }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
    </div>
</div>

<div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">2</span></span>
        <span class="step-heading">{{ section.settings.heading_step2 }}</span>
        <p class="step-info">{{ section.settings.text_step2 }}</p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img class="img-responsive" src="{{ section.settings.img_step2 | img_url: 'master' }}" width="300" style="top:-1px;margin-bottom: -15px; position: relative; z-index: 2; display: block;" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>
      
<div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">3</span></span>
        <span class="step-heading">{{ section.settings.heading_step3 }}</span>
        <p class="step-info">{{ section.settings.text_step3 }}   </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img style="margin-bottom:50px"  class="img-responsive" src="{{ section.settings.img_step3 | img_url: 'master' }}" width="400" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>      
      
    <div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">4</span></span>
        <span class="step-heading">{{ section.settings.heading_step4 }}</span>
        <p class="step-info">{{ section.settings.text_step4 }}     </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img style="margin-bottom:50px"  class="img-responsive img-small" src="{{ section.settings.img_step4 | img_url: 'master' }}" width="400" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>    
      
    <div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">5</span></span>
        <span class="step-heading">{{ section.settings.heading_step5 }}</span>
        <p class="step-info">{{ section.settings.text_step5 }}    </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img style="margin-bottom:50px"  class="img-responsive img-small" src="{{ section.settings.img_step5 | img_url: 'master' }}" width="350" style="margin-bottom:30px" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>
     <div class="row item-banner">
    <div class="col-md-12">
        <span class="step-bagde"><span class="step-circle">6</span></span>
        <span class="step-heading">{{ section.settings.heading_step6 }}</span>
        <p class="step-info">{{ section.settings.text_step6 }}   </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <img  style="margin-bottom:50px" class="img-responsive img-small" src="{{ section.settings.img_step6 | img_url: 'master' }}" width="350" style="margin-bottom:30px" />
        </div>

        <div class="col-md-12">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-bg-line_bda63cd8-e638-4f50-a45e-e46627a83973.jpg?v=1628838623" />
        </div>
    </div>
</div>     


  
       <div class="row item-banner">

              <div class="col-md-12 text-center">
       <span class="step-heading" style="margin-top:50px;margin-bottom:20px" >{{ section.settings.textbelow_step }}</span>
     
                <a href="/collections/everyday-picks" class="btn-velvey"><img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/POUCH_ICON_2x_8d1b5063-088c-4785-9a86-423351c46ce3.png?v=1709737774" /> {{ section.settings.text1below_step }}</a>
        
      </div>
      
    </div>
</div>


<style>
  
  .btn-velvey{
      background: #eea822;
    display: block;
    max-width: 250px;
    margin: 0 auto;
    color: #fff !important;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 18px;
}
  .gold-color{
   color: #eea822 !important;
  }
  .nopadding{
  padding: 0 !important;
  }
.step-circle {
    background: #eea822;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-size: 38px;
    font-weight: bold;
}
  .step-bagde{
    display:block;
    padding:50px 0;
    padding-bottom: 8px;
    
  }
  
  .step-heading{
    display: block;
    font-size: 26px;
    font-weight: 900;
    color: #eea822;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
    padding: 20px 0;
    padding-top:0;
    padding-bottom: 8px;
}
   
  
    .step-info{
    display:block;
    font-size: 16px;
    text-align: center;
          margin-bottom: 35px;
  }
  .normal-letter{
    padding-top:20px;
  font-size:13px;
  } 
  .big-letter{
  font-size:30px;
    color: #db8f16;
    line-height:1;
  }
  
  .bg-main-works{
      max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .item-banner img{
  margin:0 auto;
  }
  .item-banner h3{
  color:#eea822;
    font-weight:bold;
    font-size:25px;
    margin-bottom:20px;
  }
  .item-banner{
    max-width:670px;
    margin: 0 auto;
  margin-bottom:0;
  }
  .item-banner .col-md-6{
  margin-bottom:15px;
  }
  .bg-works-contain{
        display: block;
        max-width: 440px;
    margin: 50px auto;
    text-align: center;
  }
  
  .mobile-show{
  display:none !important;
  }
  .bg-works{
    background: url(https://cdn.shopify.com/s/files/1/0447/4047/7095/files/GOLD_GRADIENT.jpg?v=1598557572);
    background-repeat: no-repeat;
        background-size: contain;
  }
      @media screen and (max-width: 991px) {
        .mobile-hide{
  display:none !important;
  }
      
        .mobile-show{
  display:block !important;
  }
}
    @media screen and (max-width: 768px) {
      
      .img-small{
         max-width: 200px;
      }
      .img-sec2{
        max-width: 150px;
      }
        .img-responsive-ct{
       max-width: 165px;
    position: relative;
    top: -8px;
  }
        .step-heading{
    

}
   
  .bg-works-contain{
  display: block;
    width: 100%;
    margin: 20px auto;
  }
      .bg-works-contain-ct{
      margin-top:35px;
           padding: 0 40px;
      }
        .item-banner{
  margin-bottom:0px;
  }
      .item-banner .col-md-6{
      padding: 10px 20px;
      }
}
  
</style>
{% schema %}

  
{
  "name": "How It Works",
"settings": [
      {
        "type":"image_picker",
        "id":"imgbanner",
        "label":"Add image Banner"
      },
      {
        "type":"html",
        "id":"bannername",
        "label":"Enter Heading Of Banner"
      }
  ,
      {
        "type":"html",
        "id":"bannerbelow_heading",
        "label":"Enter TExt Of Banner bellow "
      }
  ,
      {
        "type":"text",
        "id":"bannerbelow_heading_text1",
        "label":"Enter TExt1 Of Banner bellow"
      }
  ,
      {
        "type":"text",
        "id":"bannerbelow_heading_text2",
        "label":"Enter Step 1 Heading"
      }
  ,
      {
        "type":"text",
        "id":"bannerbelow_heading_text3",
        "label":"Enter Step 1 Text"
      },
      {
        "type":"image_picker",
        "id":"image1_step1",
        "label":"Add Image1 of step 1"
      }
  ,
      {
        "type":"html",
        "id":"textimage1_step1",
        "label":"Add  Text Image1 of step 1"
      }
  ,
      {
        "type":"image_picker",
        "id":"image2_step1",
        "label":"Add Image2 of step 1"
      }
  ,
      {
        "type":"html",
        "id":"textimage2_step1",
        "label":"Add  Text Image2 of step 1"
      }
  ,
      {
        "type":"text",
        "id":"heading_step2",
        "label":"Enter Heading of Step2"
      }
  ,
      {
        "type":"html",
        "id":"text_step2",
        "label":"Enter Text of Step2"
      }
  ,
      {
        "type":"image_picker",
        "id":"img_step2",
        "label":"Add image of  Step2"
      } ,
      {
        "type":"text",
        "id":"heading_step3",
        "label":"Enter Heading of Step3"
      }
  ,
      {
        "type":"text",
        "id":"text_step3",
        "label":"Enter Text of Step3"
      }
  ,
      {
        "type":"image_picker",
        "id":"img_step3",
        "label":"Add image of  Step3"
      } ,
      {
        "type":"text",
        "id":"heading_step4",
        "label":"Enter Heading of Step4"
      }
  ,
      {
        "type":"text",
        "id":"text_step4",
        "label":"Enter Text of Step4"
      }
  ,
      {
        "type":"image_picker",
        "id":"img_step4",
        "label":"Add image of  Step4"
      } ,
      {
        "type":"text",
        "id":"heading_step5",
        "label":"Enter Heading of Step5"
      }
  ,
      {
        "type":"html",
        "id":"text_step5",
        "label":"Enter Text of Step5"
      }
  ,
      {
        "type":"image_picker",
        "id":"img_step5",
        "label":"Add image of  Step5"
      },
      {
        "type":"text",
        "id":"heading_step6",
        "label":"Enter Heading of Step6"
      }
  ,
      {
        "type":"html",
        "id":"text_step6",
        "label":"Enter Text of Step6"
      }
  ,
      {
        "type":"image_picker",
        "id":"img_step6",
        "label":"Add image of  Step6"
      }
,
      {
        "type":"text",
        "id":"textbelow_step",
        "label":"Enter textbelow Step6"
      }
  ,
      {
        "type":"html",
        "id":"text1below_step",
        "label":"Enter textbelow Step6"
      }

    ],
  "presets":[
    {
      "name":"How It Works"
    }
  ]
}
{% endschema %}