<style>
  .btn-checkout {
    background: #34bf10 !important;
  }

  .total-price {
    background: #cfcfcf !important;
  }

  .cart-action {
    text-align: center !important;
  }
  .total-price td {
    color: #000 !important;
    text-align: center;
    padding: 10px 0;
  }
  .cart-table .table-header {
    background: #cfcfcf !important;
  }
  .cart-table .table-footer .btn {
    padding: 1rem 0.75rem !important;
    height: auto;
  }
</style>
<script>
  console.log({{cart | json}})
</script>
<!--
  set allProducts to "yes" if you want the product to be added regardless of the products in the cart - otherwise set it to "no"
-->

{% assign allProducts = 'yes' %}

<!--
  If you want the auto add system to work only if a specific product of your choice is added at the cart - replace product-1 with the url portion of said product
-->

{% assign for_specific_product = all_products['product-1'] %}

<!--
  Next, you will pick the product to be added automatically - replace product-2 with the url portion of said product
-->

{% assign product_to_add_auto = all_products['personalized-written-audio-or-video-message'] %}

<!-- assign custom gift card -->
{% assign product_gift_card = all_products['gift-card-voucher-new'] %}
{% assign gift_card_id = product_gift_card.id %}

{% unless cart.item_count == 0 or product_to_add_auto.empty? or product_to_add_auto.variants.first.available == false %}
  <!--
    By default it is the 1st variant of the product that is taken into account and added automatically - if you want to change that, then modify "product_to_add_auto.variants.first.id" by the identifier of the variant that you will find in the variants editor of your product
  -->

  {% assign variant_id = product_to_add_auto.variants.first.id %}

  {% if cart.item_count > 0 %}
    <div class="block  block--no-preload global_width">
      <div class="container">
        <div class="title center">
          <h1>Shopping Cart</h1>
        </div>
        <form action="/cart" method="post" novalidate class="cart white">
          <div class="cart-table">
            <div class="table-header">
              <div class="photo">
                {{ 'cart.label.cart_product_image' | t }}
              </div>
              <div class="name">
                {{ 'cart.label.cart_product_name' | t }}
              </div>
              <div class="price">
                {{ 'cart.label.price' | t }}
              </div>
              <div class="qty">
                {{ 'cart.label.quantity_short' | t }}
              </div>
              <div class="subtotal">
                {{ 'cart.label.total' | t }}
              </div>
              <div class="remove">
                <span class="hidden-sm hidden-xs">{{ 'cart.general.remove' | t }}</span>
              </div>
            </div>
            {% comment %} {% assign polina_products = cart.items | where: 'id', {{variant_id}} %} {% endcomment %}
            {% comment %} <div>{{ polina_products | json }}</div> {% endcomment %}

            {% comment %} {%- assign sorted_cart_items = cart.items | reverse -%} {% endcomment %}
            {% for item in cart.items %}

              <div
                class="table-row"
                {% if item.id == {{variant_id}} %}
                  style="background: #FDF6E9;"
                {% endif %}
              >
                <div class="photo">
                  {% if item.product_id == gift_card_id %}
                    <a href="{{ item.url | within: collections.all }}"
                      ><img src="{{ item.properties._Image | }}" alt="{{ item.title | escape }}"
                    ></a>
                  {% else %}
                    <a href="{{ item.url | within: collections.all }}"
                      ><img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}"
                    ></a>
                  {% endif %}
                </div>

                <div class="name">
                  <a
                    href="{{ item.url }}"
                    class="text-uppercase"
                    style="font-size: 15px;font-weight: bold;"
                  >
                    {{ item.product.title }}
                  </a>
                  {% if item.id == {{variant_id}} %}
                    {% assign item.properties = item.product.title %}

                    <div
                      style="
                        margin-top: 3px;
                        font-size: 14px;
                        color: black;
                      "
                    >
                      {{ item.product.description }}
                    </div>
                    {% comment %}
                      <a
                        href=""
                        class="gift-btn-gold toaddgift"
                        style="margin-bottom:15px; margin-top:10px;"
                        data-id=""
                        id=""
                      >
                        See Example
                      </a>
                    {% endcomment %}
                    {% assign isProduct = true %}
                  {% endif %}
                  {% comment %}
                    {% unless item.variant.title contains 'Default' %}
                      <br>
                      <small>{{ item.variant.title }}</small>
                    {% endunless %}
                  {% endcomment %}

                  {% comment %}
                    <p>{{ item.vendor }}</p>
                  {% endcomment %}

                  {% assign propertySize = item.properties | size %}
                  {% if propertySize > 0 %}
                    {% for p in item.properties %}
                      {% assign first_character_in_key = p.first | truncate: 1, '' %}
                      {% unless p.last == blank or first_character_in_key == '_' %}
                        <br>
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="price">
                  {{ item.price | money }}
                </div>
                <div class="qty qty-changer">
                  <fieldset>
                    {% if item.id != {{variant_id}} and item.product.id != {{gift_card_id}} %}
                      <input type="button" value="&#x2212;" class="decrease">
                    {% endif %}

                    <input
                      type="text"
                      class="qty-input"
                      name="updates[]"
                      id="updates_{{ item.id }}"
                      value="{{ item.quantity }}"
                      data-min="0"
                      {% if item.id == {{variant_id}} %}
                        readonly
                        style="padding: inherit;"
                      {% endif %}
                      {% if item.product.id == {{gift_card_id}} %}
                        readonly
                        style="padding: inherit;"
                      {% endif %}
                    >

                    {% if item.id != {{variant_id}} and item.product.id != {{gift_card_id}} %}
                      <input type="button" value="+" class="increase">
                    {% endif %}
                  </fieldset>
                </div>
                <div class="subtotal">
                  {% if item.original_line_price != item.line_price %}
                    <small class="cart-item__original-price"
                      ><s>{{ item.original_line_price | money }}</s></small
                    >
                  {% endif %}
                  {{ item.line_price | money }}
                  {% if item.original_line_price != item.line_price %}
                    {% for discount in item.discounts %}
                      <small class="cart-item__discount">
                        {{ discount.title }}
                      </small>
                    {% endfor %}
                  {% endif %}
                </div>

                <div class="remove item-{{ item.id }}">
                  {% if item.id != {{variant_id}} and item.id != 43012589224112 and item.product.title != "Digital Gift Card" and item.id != 44668268019888 %}
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="icon icon-close-2" data-item-id="{{ item.id }}"></a>
                  {% endif %}
                  {% if item.id != {{variant_id}} and item.id != 43012589224112 and item.product.title == "Digital Gift Card" %}
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-variant-id="{{ item.variant_id }}" data-line-number="{{ forloop.index }}" title="{{ 'cart.general.remove' | t }}" class="icon icon-close-2 js-minicart-remove-item"></a>
                  {% endif %}
                </div>


              </div>
            {% endfor %}
            <div class="row">
              <div class="col-md-9 col-xs-5">
                <img src="https://cdn.shopify.com/s/files/1/0447/4047/7095/files/velvey-v3-28.jpg?v=1628858273">
              </div>

              <div class="col-md-3 col-xs-7 total-wrappe">
                <table class="total-price">
                  {% if cart.total_discounts > 0 %}
                    {% assign savings = cart.total_discounts | money %}
                    <tr>
                      <td colspan="2">{{ 'cart.general.savings_html' | t: price: savings }}</td>
                    </tr>
                  {% endif %}
                  <tr class="total">
                    <td>{{ 'cart.general.subtotal' | t }}</td>
                    <td>{{ cart.total_price | money }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="table-footer text-center">
              <a class="btn btn-gold-cart" href="{{ shop.url }}">{{ 'cart.general.continue' | t }}</a>
              <a class="btn btn-gold-cart " href="/cart/clear"
                ><i class="icon icon-bin"></i><span>{{ 'cart.general.clear' | t }}</span></a
              >
              <button class="btn btn-gold-cart" type="submit" name="update">
                <i class="icon icon-sync"></i><span>{{ 'cart.general.update' | t }}</span>
              </button>
              <button class="btn btn-checkout" type="submit" name="checkout">
                {{ 'cart.general.checkout_procees' | t }}
              </button>
            </div>
          </div>

          {% comment %}
            <div class="row">
              <div class="col-md-3 total-wrapper">
                <div class="cart-action">
                  <div>
                      <button class="btn btn-checkout" type="submit" name="checkout">
                        {{ 'cart.general.checkout_procees' | t }}
                      </button>
                      </div>
                      {% if additional_checkout_buttons %}
                      <div class="cart__additional_checkout">{{ content_for_additional_checkout_buttons }}</div>
                    {% endif %}
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-5 m-t-sm">
                      {% include 'shipping-calculator' %}
                      </div>
                      {% if settings.cart_notes_enable %}
                      {% assign noteSize = cart.note | size %}
                      <div class="col-sm-6 col-md-4 m-t-sm">
                        <h2>{{ 'cart.general.note' | t }}</h2>
                        <label>{{ 'cart.general.note_desc' | t }}</label>
                        <textarea
                        class="form-control dashed"
                        name="note"
                        id="CartSpecialInstructions"
                        >{{ cart.note }}</textarea>
                        </div>
                      {% endif %}
                      </div>
          {% endcomment %}
        </form>
      </div>
    </div>
  {% else %}
    <div class="block  block--no-preload fullheight">
      <div class="container">
        <div class="empty-cart text-center">
          <div class="empty-cart-text">{{ 'general.theme.empty_cart_1' | t }}</div>
          <div class="empty-cart-icon">
            <i class="icon-basket"></i>
          </div>
          <div>
            <a href="#" onclick="history.go(-1);return false;" class="btn btn-alt btn-lg">
              {{- 'general.theme.back' | t -}}
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if allProducts == 'no' %}
    {% assign isProduct = false %}

    {% for item in cart.items %}
      {% if item.product.handle == for_specific_product.handle %}
        {% assign isProduct = true %}
      {% endif %}
    {% endfor %}

    {% if isProduct == true %}
      <script>

          (function($) {
              let cartItems = {{ cart.items | json }},
                  qtyInTheCart = 0,
                  cartUpdates = {};

              for (let i=0; i<cartItems.length; i++) {
                if ( cartItems[i].id === {{ variant_id }} ) {
                  qtyInTheCart = cartItems[i].quantity;
                  break;
                }
              }

              if ((cartItems.length === 1) && (qtyInTheCart > 0)) {
                cartUpdates = { {{ variant_id }}: 0 }

              }
              else if (( cartItems.length >= 1) && (qtyInTheCart !== 1 )) {
                cartUpdates = { {{ variant_id }}: 1 }
              }
              else {
                return;
              }

              //const params = {
               // type: 'POST',
               // url: '/cart/update.js',
              //  data: { updates: cartUpdates },
               // dataType: 'json',
               // success: function(stuff) {
                //  window.location.href = '/cart';
                //}
              //};

              if (( cartItems.length >= 1) && (qtyInTheCart !== 1 )) {
                const params = {
                  type: 'POST',
                  url: '/cart/add.js',
                  data: {
                    id: {{ variant_id }} ,
                    properties: {
                      '_GiftCard': false,
                      '_SplMsg':true,
                      '_SortIndex':2
              }
                    },
                  dataType: 'json',
                  success: function(stuff) {
                    window.location.href = '/cart';
                  }
                };

                $.ajax(params);
              }



          })(jQuery);
      </script>
    {% endif %}

  {% else %}
    <script>
      (function($) {

          let cartItems = {{ cart.items | json }},
              qtyInTheCart = 0,
              cartUpdates = {};

          for (let i=0; i<cartItems.length; i++) {
            if ( cartItems[i].id === {{ variant_id }} ) {
              qtyInTheCart = cartItems[i].quantity;
              break;
            }
          }

          if ((cartItems.length === 1) && (qtyInTheCart > 0)) {
            cartUpdates = { {{ variant_id }}: 0 }

          }
          else if (( cartItems.length >= 1) && (qtyInTheCart !== 1 )) {
            cartUpdates = { {{ variant_id }}: 1 }
          }
          else {
            return;
          }

          if (( cartItems.length >= 1) && (qtyInTheCart !== 1 )) {
              const params = {
                type: 'POST',
                url: '/cart/add.js',
                data: {
                  id: {{ variant_id }} ,
                  properties: {
               '_GiftCard': false,
                '_SplMsg':true,
                '_SortIndex':2
            }
                  },
                dataType: 'json',
                success: function(stuff) {
                  window.location.href = '/cart';
                }
              };

              $.ajax(params);
            }
            else if((cartItems.length === 1) && (qtyInTheCart > 0)){
            const params = {
            type: 'POST',
            url: '/cart/update.js',
            data: { updates: cartUpdates },
            dataType: 'json',
            success: function(stuff) {
              window.location.href = '/cart';
           }
          };
            $.ajax(params);
            }





      })(jQuery);
    </script>
  {% endif %}
{% endunless %}
