{% layout none %}
{%- assign logo = settings.password_page_logo -%}
{%- assign logo_max_width = settings.password_page_logo_max_width -%}
{% capture image_size %}{{ logo_max_width }}x{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head' %}
  </head>
  <body class="boxed">
  <main class="page-main">
    <div class="block offset-top-0">
      <div class="container">
        <div class="coming-soon-wrap">
          <div class="wrap-link wrapper">
            <div class="logo-wrap">
              <a href="{{ shop.url }}" title="{{ shop.name }}">
                <img src="{% if logo != blank %}{{ logo | img_url: image_size }}{% else %}{{ 'logo.png' | asset_url }}{% endif %}" alt class="img-responsive" />
              </a>
            </div>
          </div>
          {% if  settings.password_page_date != blank or settings.password_page_info != blank  %}
          <div class="coming-soon-box">
            <h3>{{ settings.password_page_info }}</h3>
            {% if  settings.password_page_date != blank %}
            <div class="flip-countdown">
              <div class="countdown-container js-flip-countdown" data-countdown="{{ settings.password_page_date }}"></div>
            </div>
            {% endif %}
          </div>
          {% endif %}
          <div class="row">
            <div class="col-sm-6">
              <div class="coming-soon-form coming-soon-form-subscribe">
                <h3>{{ 'homepage.password_page.signup_form_heading' | t }}</h3>
                {% form 'customer' %}
                  <div class="input-group input-wrap">
                    {% if form.posted_successfully? %}
                    <span class="success-message">{{ 'homepage.password_page.signup_form_success' | t }}</span>
                    {% else %}
                    <input type="hidden" name="contact[tags]" value="prospect, password page">
                    <input type="text" class="form-control" name="contact[email]" placeholder="{{ 'homepage.password_page.signup_form_email_placeholder' | t }}">
                    {{ form.errors | default_errors }}
                    <span class="input-group-btn"> <button class="btn btn-invert" type="submit"> <i class="icon icon-arrow-right"></i> <span>{{ 'general.newsletter_form.submit' | t }}</span> </button> </span>
                    {% endif %}
                  </div>
                {% endform %}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="coming-soon-form coming-soon-form-login">
                <h3>{{ 'homepage.password_page.login_form_heading' | t }}</h3>
                {% form 'storefront_password' %}
                  <div class="input-group input-wrap">
                    <input type="text" class="form-control"  type="password" name="password" placeholder="{{ 'homepage.password_page.login_form_password_placeholder' | t }}">
                    <span class="input-group-btn"> <button class="btn btn-invert" type="submit"> <i class="icon icon-arrow-right"></i> <span>{{ 'homepage.password_page.login_form_submit' | t }}</span> </button> </span>
                  </div>
                  {{ form.errors | default_errors }}
                {% endform %}
              </div>
            </div>
          </div>
          {% include 'social-media-links' %}
          <div class="footer-copyright">
            {{ settings.password_page_copyright }}
          </div>
          <div class="coming-soon-bgtop"></div>
        </div>
      </div>
    </div>
  </main>
  {% include 'before_body_end' %}
  </body>
</html>